:root {
    font-size: 10px;
}

body {
    color           : #FFF;
    font-size       : 1.6rem;
    font-family     : 'Roboto', sans-serif;
    background-color: #03030F;
    background      : linear-gradient(212.24deg, #03030F 30.06%, rgb(62 81 98) 88.44%);
    overflow-y: hidden;
}

@media only screen and (max-width: 844px) {
    body {
        overflow-y: unset;
    }
}

main {
    overflow-y     : auto;
}

main::-webkit-scrollbar {
    width: .5rem;
}

.main-container {
    display        : flex;
    flex-wrap      : wrap;
    height         : calc(100vh - (var(--header-height) + var(--footer-height)));
    flex-direction : row;
    justify-content: space-between;
}

@media only screen and (min-width: 845px) {
    .mobile-hidden {
        display: block !important;
    }

    .mobile-show {
        display: none !important;
    }
}

@media only screen and (max-width: 844px) {
    .main-container {
        display  : block;
        flex-wrap: wrap;
        height   : auto;
    }

    .mobile-hidden {
        display: none !important;
    }

    .mobile-show {
        display: block !important;
    }
}


.main-container>section {
    flex     : 1;
    min-width: 50%;
}

[class$="-container-fluid"] {
    max-width: 1600px;
    margin   : 0 auto;
    padding  : 0;
}
[class$="-container"] {
    max-width: 1200px;
    margin   : 0 auto;
    padding  : 2rem;
}

::-moz-selection {
    color     : #000;
    background: #7992a9;
}

::selection {
    color     : #000;
    background: #7992a9;
}

/* FORMS */
label {
    color: #FFFFFF;
    display: block;;
}
input[type=text],
textarea {
    min-height       : 3.5rem;
    border-radius: 4px;
    border       : 1px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    margin-bottom: 2.5rem;
    width: 100%;
    padding: .5rem 2rem;
}
textarea{
    resize: none;
}
.success-message{
    display: none;
    color: green;
    margin-top: 2.5rem;
}
.success-message--active{
    display: block;
}
/* Texts*/
.title {
    font-size: 4rem;
    font-weight: normal;;
}
p{
    margin-bottom: 2rem;
}

/* Buttons and links */

.link {
    color          : currentColor;
    text-decoration: none;
}

.btn {
    min-width: 11.5rem;
    min-height: 4rem;
    display: inline-block;
    text-align: center;
    line-height: 2;
    text-decoration: none;
    cursor: pointer;
}
.btn.btn-ghost {
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 0.5rem;
}