.footer-main{
    height: var(--footer-height);
    border-top: 1px solid #949494;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.footer-logo{
    max-width: 11rem;
}
.footer-main a{
    color: #FFFFFF;
    margin: 0 1rem;
}

@media only screen and (max-width: 844px) {
    .footer-main{
        height: auto;
    }
    .footer-container {
        display: block;
        text-align: center;
    }
    .footer-logo{
        margin: 0 auto 1.5rem;
    }
  }