body {
    background-color: black;
    color: white;
}
header,
main > section,
aside,
footer {
    border: 5px solid greenyellow;
}
header{
    height: 50px;
}
main {
    display: flex;
    height: calc(100vh - (50px + 50px + 30px) );
    flex-direction: row;
    justify-content: space-between;
}
main > section {
    flex:1;
}
aside {
    max-width: 350px;
}

footer{
    height: 50px;
}