* {
    box-sizing: border-box;
}
body {
    background-color: black;
    color: white;
}
header,
main > section,
aside,
footer {
    border: 5px dashed greenyellow;
}
header{
    height: 50px;
}
main {
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - (50px + 50px + 30px) );
    flex-direction: row;
    justify-content: space-between;
}
main > section {
    flex:1;
    min-width: 450px;
}
aside {
    width: 450px;
}

footer{
    height: 50px;
}